<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCm3khFuh6p6X1HpOY_qqNL81hmjUCWAyM</string>
	<key>GCM_SENDER_ID</key>
	<string>891756376309</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.jobfinder</string>
	<key>PROJECT_ID</key>
	<string>jobfinder-dee59</string>
	<key>STORAGE_BUCKET</key>
	<string>jobfinder-dee59.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:891756376309:ios:45567ae549a111801115bc</string>
</dict>
</plist>